/* *********** LOG IN and Sign UP *************** */

/*@font-face {*/
/*    font-family: 'Inter 24pt SemiBold';*/
/*    src: url('/assets/fonts/Inter_24pt-SemiBold.ttf');*/
/*}*/

.login__field {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.signUpText:hover{
    -fx-underline: true;
}

.resetPasswordText:hover{
    -fx-underline: true;
}

.btn:pressed{
    -fx-translate-y: 2px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 2);
}

.btn:hover{
    -fx-border-color: #00FFA1;
}

.ckeck-box:selected .box{
    -fx-background-color: #00F7FF;
    -fx-border-color: #00F7FF;
    -fx-background-insets: 6, 0;

}

.ckeck-box .mark {
    -fx-shape: "";
    -fx-background-color: transparent;
}

.ckeck-box .box{
    -fx-shape: "M4 4 H12 V12 H4 Z";
    -fx-background-color: transparent;
    -fx-border-color: #00F7FF;
    -fx-border-width: 1;
    -fx-border-radius: 0; /* square shape */
    -fx-padding: 0;
    -fx-pref-width: 24;
    -fx-pref-height: 24;


}
#textField{
    -fx-padding:10px ;
}

#passwordField{
    -fx-padding:10px ;
}
.separator:vertical .line{
    -fx-border-width: 0 0.5px 0 0;
}

.headText {
    -fx-stroke: #00FF66;
    -fx-fill: #ffffff;
    /*-fx-stroke-width: 0.5px;*/
    -fx-font-size: 30px;


}

.navbar {
    -fx-background-color: black;


}
.logoText{
    -fx-font-family: 'Inter 24pt SemiBold';
    -fx-fill: #ffffff;
    -fx-stroke: #00FF66;
    -fx-font-size: 27px;
    -fx-stroke-width: 0.5px;
}

.profileText
{
    -fx-fill: #ffffff;
    -fx-font-size: 30px;
}

.head-text{
    -fx-fill: #ffffff;
    /*-fx-stroke: #00FF66;*/
    -fx-font-size: 40px;

}

.arrowBtn
{
    -fx-background-color: #156152;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-alignment: center;
}

.arrowBtn:pressed{
    -fx-translate-y: 2px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 2);
}

.arrowBtn:hover{
    -fx-background-color: #03ac6c;
}



.card
{
    -fx-pref-height: 300px;
    -fx-min-width: 250px;
    -fx-background-color: #156152;
    -fx-border-radius: 100 100 5 5;
    -fx-background-radius: 100 100 5 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 102, 0.98), 20, 0, 0, 0);
}

.line
{
    -fx-background-color: #fff;
    -fx-fill: #fff;
    -fx-stroke: #00FF66;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 102, 0.98), 20, 0, 0, 0);

}

.cardText
{
    -fx-font-size: 25px;
    -fx-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 102, 0.98), 20, 0, 0, 0);

}

.cardBtn
{
    -fx-padding: 15px 30px;
    -fx-background-color: #000000;
    -fx-border-width: 1px;
    -fx-border-color: #00F7FF;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 102, 0.98), 20, 0, 0, 0);
}

.cardBtn:pressed{
    -fx-translate-y: 2px;
    -fx-effect:  innershadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 2) ;
}

.riddleLabel
{
    -fx-text-fill: #ffffff;
    -fx-font-size: 35px;
}
.combobox{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.combobox .list-view {
    -fx-background-color: #002b29;
    -fx-border-color: #00F7FF;
    -fx-border-width: 1px;
    -fx-control-inner-background: transparent;
}

.combobox .list-cell {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
}


.menu-item
{
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

.context-menu{
    -fx-background-color: #002b29;
    -fx-border-color: #00F7FF;
    -fx-border-width: 1px;
    -fx-control-inner-background: transparent;
}
.menu {
    -fx-background-color: #000;
    -fx-text-fill: #00ffaa;
    -fx-alignment: CENTER_LEFT;
}

.menu > .arrow-button{
    -fx-content-display: left;
}
.menu > .arrow-button > .arrow{
    -fx-background-color: #00ffaa;
    -fx-shape: "M 0 0 L 6 6 L 12 0 Z"; /* triangle shape */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.digidInput{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}



