/* *********** LOG IN and Sign UP *************** */

.login__field {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.signUpText:hover{
    -fx-underline: true;
}

.resetPasswordText:hover{
    -fx-underline: true;
}

.btn:pressed{
    -fx-translate-y: 2px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 2);
}

.btn:hover{
    -fx-border-color: #00FFA1;
}

.ckeck-box:selected .box{
    -fx-background-color: #00F7FF;
    -fx-border-color: #00F7FF;
    -fx-background-insets: 6, 0;

}

.ckeck-box .mark {
    -fx-shape: "";
    -fx-background-color: transparent;
}

.ckeck-box .box{
    -fx-shape: "M4 4 H12 V12 H4 Z";
    -fx-background-color: transparent;
    -fx-border-color: #00F7FF;
    -fx-border-width: 1;
    -fx-border-radius: 0; /* square shape */
    -fx-padding: 0;
    -fx-pref-width: 24;
    -fx-pref-height: 24;


}
#textField{
    -fx-padding:10px ;
}

#passwordField{
    -fx-padding:10px ;
}
.separator:vertical .line{
    -fx-border-width: 0 0.5px 0 0;
}

.headText {
    -fx-stroke: #00FF66;
    -fx-fill: #ffffff;
   /* -fx-stroke-width: 1px; */
    -fx-font-size: 30px;

}

.unlock{

}


